# Port number
PORT=8080

# Environment
ENVIRONMENT=development

# Start of API route
API_PREFIX=/api

# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=
DB_URL=postgresql://[POSTGRES_USER]:[POSTGRES_PASSWORD]@localhost:5432/[POSTGRES_NAME]?schema=public # replace [POSTGRES_USER], [POSTGRES_PASSWORD], [POSTGRES_NAME] with your own values

# Query list limit
DEFAULT_LIST_LIMIT=
USER_LIST_LIMIT=
