:root {
  --primary-color: #233d4d;
  --primary-color-100: #101c23;
  --primary-color-250: #284558;
  --primary-color-500: #508baf;
  --primary-color-750: #a7c5d7;
  --primary-color-900: #dce8ef;
  
  --secondary-color: #3c493f;
  --secondary-color-100: #171c18;
  --secondary-color-250: #3a463c;
  --secondary-color-500: #738c79;
  --secondary-color-750: #b9c5bc;
  --secondary-color-900: #e3e8e4;

  --ternary-color: #fe7f2d;
  --ternary-color-100: #331400;
  --ternary-color-250: #7f3301;
  --ternary-color-500: #fe6601;
  --ternary-color-750: #feb380;
  --ternary-color-900: #ffe0cc;

  --border-radius-md: 8px;

  --padding-xs: 12px;
  --padding-sm: 24px;
  --padding-md: 28px;

  --text-sm: 0.8rem;
  --text-md: 0.9rem;
  --text-lg: 1.05rem;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: normal;
}
